//--------------------------------------------------------------
// Size Conversion SCSS Mixins
//--------------------------------------------------------------

//-----------------------------------------
// Strip Units Forked from Bourbon 4 https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/functions/_strip-units.scss
//-----------------------------------------
@function strip-unit($number) {
	@if type-of($number) == 'number' and not unitless($number) {
		@return $number / ($number * 0 + 1);
	}

	@return $number;
}

//-----------------------------------------
// PX to EM Forked from Bourbon 4 https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/functions/_px-to-em.scss
// Usage em(12) — defaults context to 16
// Usage em(12, 16) = same as above.
//-----------------------------------------
@function em($pixelvalue, $context: $base-context) {

	@if not unitless($pixelvalue) {
		$pixelvalue: strip-units($pixelvalue);
	}

	@if not unitless($context) {
		$context: strip-units($context);
	}

	@return ($pixelvalue / $context) * 1em;
}


//-----------------------------------------
// PX to REM Forked from Bourbon 4 https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/functions/_px-to-rem.scss
// Usage em(12) — defaults context to 16
// Usage em(12, 16) = same as above.
//-----------------------------------------
@function rem($pixelvalue, $context: $base-context) {

	@if not unitless($pixelvalue) {
		$pixelvalue: strip-units($pixelvalue);
	}

	@if not unitless($context) {
		$context: strip-units($context);
	}

	@return ($pixelvalue / $context) * 1rem;
}

//-----------------------------------------
// Unitless Line Height
// Usage lh(12) = lh(12,12) = 1
// Usage lh(24, 12) = 2
//-----------------------------------------
@function lh($font-size, $line-height: $font-size) {

	@if not unitless($font-size) {
		$font-size: strip-units($font-size);
	}

	@if not unitless($line-height) {
		$line-height: strip-units($line-height);
	}

	@return $font-size / $line-height;
}
