// ----------------------------------------------------------------------
// Vertical Align Middle
// ----------------------------------------------------------------------

////
/// @group mixins
////

/// Vertically align elements without breaking your brain.
///
/// @param {string} $position [middle] - The desired vertical alignment.
///
/// @example scss - Basic Usage
///  .foo {
///    @include vertical-align(bottom);
///  }
///
/// @example css - Output
///  .foo {
///    position: relative;
///    top: 100%;
///    transform: translateY(-100%);
///  }

@mixin vertical-align($position: middle) {
	position: relative;

	@if $position == none {
		top: auto;
		transform: translateY(0);
	} @else if $position == top {
		top: 0%;
		transform: translateY(0%);
	} @else if $position == bottom {
		top: 100%;
		transform: translateY(-100%);
	} @else {
		top: 50%;
		transform: translateY(-50%);
	}
}
