// ----------------------------------------------------------------------
// Vertical Align Middle
// ----------------------------------------------------------------------

////
/// @author
/// @group wds
////

// Usage @mixin vertical-align(middle);

@mixin vertical-align($position: middle) {
	position: relative;

	@if $position == none {
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		top: auto;
		transform: translateY(0);
	} @else if $position == top {
		-ms-transform: translateY(0%);
		-webkit-transform: translateY(0%);
		top: 0%;
		transform: translateY(0%);
	} @else if $position == bottom {
		-ms-transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		top: 100%;
		transform: translateY(-100%);
	} @else {
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		top: 50%;
		transform: translateY(-50%);
	}
}
