//--------------------------------------------------------------
// Gutenberg Backend Overrides
//--------------------------------------------------------------

.button {

	&:hover,
	&:active,
	&:focus {
		background: $color-background-button;
	}
}

.card {
	background: unset;
	border: none;
	box-shadow: none;
}
