//----------------------------------------
// WordPress Global Styles
//
// Import partials for global WordPress styles.
//----------------------------------------

@import 'admin';
@import 'alignment';
@import 'scaffolding';
