//--------------------------------------------------------------
// WordPress Default Pullquote Block
//--------------------------------------------------------------

// Pullquote defaults.
.wp-block-pullquote {
	border-bottom: 2px solid $color-border-block;
	border-top: 2px solid $color-border-block;
} // .wp-block-pullquote