//--------------------------------------------------------------
// WordPress Default Button Block
//--------------------------------------------------------------
// sass-lint:disable class-name-format
// Reset button links to be more inline with our defaults.
.wp-block-button {

	// The class on the <a>.
	.wp-block-button__link {
		background: $color-background-block-button;
		border-radius: 0;

		// The hover and focus states.
		&:hover,
		&:focus {
			opacity: 0.8;
		} // &:hover, &:focus
	} // &__link
} // .wp-block-button
