# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{html,js,php,css,scss}]
charset = utf-8

# 4 space indentation
[*.{html,js,php,css,scss}]
indent_style = tab

# Matches the exact files
[{package.json,bower.json,.bowerrc,.eslintrc.js,.travis.yml,.sass-lint.yml,phpcs.xml}]
indent_style = space
