# os
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db

# node
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/

# composer
vendor/

# wordpress
uploads/

# plugins
plugins/*
!plugins/wds-master-plugin
!plugins/wds-master-plugin/vendor

# theme
themes/_s/dist
!themes/_s/src/scss/plugins
!themes/_s/src/scss/vendor
