###
 # Prettier Ignore
 #
 # - Ignore JS
 # - Ignore Styles
 #
 # == WHY ==
 #
 # The reason this file exists is becacuse we DON'T
 # use Prettier, so this is going to make sure any
 # extensions or commands ran on this theme do NOT
 # format files, as we use eslint and stylelint's --fix
 # option.
 #
 # @since Thursday, 10/15/2020
 # @author Aubrey Portwood <aubrey@webdevstudios.com>
 ##

# We don't want Prettier auto-formatting JS files, use eslint --fix.
**/*.js
**/*.jsx
**/*.ts
**/*.tsx

# We don't want Prettier auto-formatting Styles, use styleint --fix.
**/*.scss
**/*.css

# Also keep your hands off PHP, even though we don't really have an autoformatter.
**/*.php

# Don't touch HTML files either...
**/*.html

# ...but for everything else, go for it, we don't really have opinions about those.
