# We don't want Prettier auto-formatting JS files, use eslint --fix.
*.js
*.jsx
*.ts
*.tsx

# We don't want Prettier auto-formatting Styles, use styleint --fix.
*.scss
*.css

# But for everything else, go for it.
