{
	"plugins": [
		"stylelint-declaration-block-order",
		"stylelint-scss",
		"stylelint-declaration-use-variable",
		"stylelint-selector-no-mergeable"
	],
	"rules": {
		"scss/at-extend-no-missing-placeholder": true,
		"plugin/declaration-block-order": [
			"dollar-variables",
			{
				"type": "at-rule",
				"name": "extend"
			},
			{
				"type": "at-rule",
				"name": "include"
			},
			"declarations",
			{
				"type": "at-rule",
				"name": "include",
				"hasBlock": true
			},
			"at-rules",
			"rules"
		],
		"block-no-empty": true,
		"declaration-block-single-line-max-declarations": 0,
		"color-no-invalid-hex": true,
		"sh-waqar/declaration-use-variable": [["/color/", "font-family"]],
		"at-rule-blacklist": ["debug", { "message": "@debug rule is not allowed." }],
		"selector-max-id": 0,
		"selector-no-mergeable/selector-no-mergeable": [true, { "allowVanityNesting": false }],
		"selector-no-qualifying-type": [true, { "ignore": ["attribute", "class", "id"] }],
		"value-no-vendor-prefix": true,
		
	}
}
