$black: #000;
$_color_red: red;

// Failing Rules
p[title=flower] {
		@debug;
	@warn;
	@extend .some-class;
}

.test-rule{
	background-color: #FFFFFF;
	color: #000000;
	border: none;
	-webkit-box-sizing: border-box;

	@include media();
}

.test-rule-2{ color: $black; }

.empty-block {
}

._bad_rule {
	color: yellow;
}

#id_not_allowed {
	color: rgba(#000, 0.08);
}

a.foo {
	color: $black;
}

@function GRID_WIDTH_UPPER() {
	color: $black;
}

#this_should-pass {

}


// Passing Rules
p[title="flower"] {
	@extend %placeholder;

	@include media {
		color: $black;
	}
}

.test-rule {
	border: 0;
	color: $black;
}


@function grid-width() {
	color: $black;
}

@function _grid-width-2() {
	color: $black;
}

.current_page_item {
	color: $black;
}

.widget_search {
	color: $black;
}

#this-should-pass {

}
