$black: #000;

// Failing Rules
p {
	@debug;
	@warn;
	@extend .some-class;
}

.test-rule {
	color: #000;
	-webkit-box-sizing: border-box;

	@include media;
}

.empty-block {
}

#id_not_allowed {
	color: rgba(#000, 0.08);
}

a.foo {
	color: $black;
}

// Passing Rules
p {
	@extend %placeholder;

	@include media() {
		color: $black;
	}
}

.test-rule {
	color: $black;
}
