//--------------------------------------------------------------
// GET GUTTER 
//--------------------------------------------------------------

////
/// @author Carrie Forde
/// @group wds
////

////
/// @param  map  $grid  $neat-grid - The Sass map from which the gutter is needed.
///
/// @example scss Get Gutter Function
///  get-gutter($neat-grid);
///  // rem(12)
////

@function get-gutter($grid: $neat-grid) {

	$gutter: map-get($grid, gutter);

	@return rem($gutter);
}
