//--------------------------------------------------------------
// Navigation on Comment, Post and Posts.
//--------------------------------------------------------------
.comment-navigation,
.posts-navigation,
.post-navigation {

	.nav-links {
		@extend .display-flex;
		@include margin($space null null);
	} // .nav-links

	.site-main & {
		@include margin(0 0 $space);

		overflow: hidden;
	} // .site-main &

	.nav-previous {
		@include size(50%, auto);

		margin-right: auto;
	} // &.nav-previous

	.nav-next {
		@include size(50%, auto);

		margin-left: auto;
		text-align: right;
	} // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation

//-----------------------------------------
// Numbered Pagination
//-----------------------------------------
.pagination-container {

	.page-numbers {

		&.current {
			font-weight: 700;
		} // &.current
	} // .page-numbers
} // .pagination-container
