//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

button,
.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	appearance: none;
	background-color: $color-background-button;
	border: none;
	border-radius: 0;
	border-width: 0;
	color: $color-text-button;
	line-height: 1.5;
	margin: 0;
	padding: $padding-input;
	transition: $transition-bg-color;

	// IE 11 helper.
	.ie & {
		height: rem(35);
	} // .ie &

	&:hover,
	&:active,
	&:focus {
		background-color: $color-background-button-hover;
	} // &:active, &:focus
} // button, input[type="button"], input[type="reset"], input[type="submit"]
