//--------------------------------------------------------------
// Comments
//--------------------------------------------------------------

// Comment title
.comments-title {
	font-size: rem(24);
} // .comments-title

// Comment list
.comment-list {
	list-style: none;
	margin: 0;
} // .comment-list

// Comment meta
.comment-meta {
	margin: 0 0 rem(14) 0;
} // .comment-meta

// Comments avatar
.avatar {
	float: left;
	margin: 0 rem(10) 0 0;
} // .avatar

// By post author
.bypostauthor {
	display: block;
} // .bypostauthor

// Comment Form
.comment-form {
	@include span-columns(12);

	input:not(.submit) {
		width: 100%;

		@include media($phone-landscape) {
			max-width: rem(250);
		}
	} // input:not(.submit)
} // .comment-form

// Default labels for comment form
.comment-form-author,
.comment-form-email,
.comment-form-url {
	label {
		@include span-columns(12);

		@include media($phone-landscape) {
			width: rem(75);
		}
	} // label
} // .comment-form-author, .comment-form-email, .comment-form-url

// Nested comments spacing from mobile to desktop
.comment-list .children {
	margin-left: 0;
	padding-left: rem(20);

	@include media($phone-landscape) {
		padding-left: rem(35);
	}

	@include media($tablet-portrait) {
		padding-left: rem(60);
	}
} // .comment-list .children
