//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------

.site-footer {
	@include padding($space null);

	flex: 0 0 100%;
	width: 100%;

	.site-info {
		text-align: center;
	} // .site-info
}
