//--------------------------------------------------------------
// Header
//--------------------------------------------------------------

// Site Title
.site-title {
	font-size: em(48);
} // .site-title

// Site Description
.site-description {
	font-size: em(24);
	margin: 0 0 rem(24) 0;
} // .site-description
