//--------------------------------------------------------------
// Icons
//--------------------------------------------------------------

// Social icons <ul>
.social-icons {
	@include clearfix;
	@include list-reset;

	// Each icon <li>
	.social-icon {
		display: inline-block;

		// Loop through all social icons
		@each $social-color, $color in $social-colors {

			// Set styles on those social icons!
			.icon-#{$social-color} {
				@include size(rem(30) rem(30));

				fill: $color;

				&:hover {
					fill: lighten($color, 20%);
				} // &:hover
			} // .icon-#{$social-color}
		} // end each loop

		// No margin for the last <li> item
		&:last-child {
			margin-right: 0;
		} // &:last-child
	} // .social-icon
} // .social-icons


//-----------------------------------------
// Hamburger icon
//-----------------------------------------
.hamburger {
	background-color: transparent;
	cursor: pointer;
	display: block;
	outline: none;
	top: 40%;

	&,
	&::before,
	&::after {
		@include size(rem(35) rem(5));

		background: $color-cod-gray;
		border-radius: rem(1);
		content: '';
		cursor: pointer;
		display: block;
		position: absolute;
		// sass-lint:disable no-transition-all
		transition: all 0.5s ease-in-out; // too much going on, use "all"
		// sass-lint:enable no-transition-all
	}

	&::before {
		top: rem(-10);
	}

	&::after {
		bottom: rem(-10);
	}
} // .hamburger


//-----------------------------------------
// Close icon
//-----------------------------------------
.close {
	cursor: pointer;
	display: block;
	margin-top: rem(-5);
	outline: none;

	&::before,
	&::after {
		@include size(rem(20) rem(3));

		background: $color-white;
		border-radius: rem(1);
		content: '';
		cursor: pointer;
		display: block;
		position: relative;
	}

	&::before {
		top: rem(3);
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-45deg);
	}
} // .cross

//--------------------------------------------------------------
// Down arrow icon
//--------------------------------------------------------------
.down-arrow {
	cursor: pointer;
	display: block;
	margin-left: rem(10);
	outline: none;
	transition: transform 0.8s ease-in-out;

	&::before,
	&::after {
		@include size(rem(10) rem(2));

		background: $color-white;
		border-radius: rem(1);
		content: '';
		cursor: pointer;
		display: block;
		position: relative;
	}

	&::before {
		left: rem(-6);
		top: rem(2);
		transform: rotate(45deg);
	}

	&::after {
		transform: rotate(-225deg);
	}
} // .down-arrow


//-----------------------------------------
// Caret down
//-----------------------------------------
.caret-down {
	@include size(rem(10) rem(20));

	background: url('assets/images/svg-icons/caret-down.svg') no-repeat transparent;
	background-size: 100%;
	margin-left: rem(5);
	display: inline-block;
	vertical-align: middle;
} // .angle-down
