//--------------------------------------------------------------
// Mobile Navigation
//--------------------------------------------------------------

// Fix scrolling on the entire body when the more menu is visible
.mobile-menu-more {
	overflow: hidden;
} // .mobile-menu-more

// Fix the menu to the bottom of the window
.mobile-nav-menu {
	@include position(fixed, 0 null null 0);
	@include size(0 100%);
	@include transition(background-color 0.2s linear, width 0.2s linear);

	background-color: rgba($color-black, 0);
	display: block;

	// Don't show this puppy above tablet-landscape
	@include media($tablet-landscape) {
		display: none;
	}

	// Add a background color to the menu when the "More" items are displayed
	&.more {
		background-color: rgba($color-black, 0.7);
	} // &.more

	&.more,
	.sub-menu {
		width: 100%;
	} // &.more, .sub-menu

	.sub-menu {
		@include transition(opacity 0.5s linear);
	} // .sub-menu

	// Adjust padding for admin bar
	.admin-bar & {
		padding-top: rem(56);

		@include media($wp-admin-bar) {
			padding-top: rem(40);
		}
	} // .admin-bar &

	li {
		cursor: pointer;
	} // li
} // .mobile-nav-menu

// Remove margins from all menu items
.mobile-nav-menu {

	// Only target the parent menu
	.mobile-nav {

		// Only target top-level items
		> li {
			flex: 1 0 20%;
			margin: 0;

			a {
				padding: 0 rem(10);
			} // a
		} // > li
	} // .mobile-nav
} // .mobile-nav-menu

// Make sure the first four items are equal widths
.mobile-nav-menu {

	// Only target the parent menu
	.mobile-nav {
		@include position(absolute, null null 0 null);
		@include size(100vw rem(64));

		align-items: flex-end;
		display: flex;
		justify-content: space-between;

		// Only target top-level items
		> li:nth-child(-n+5) {
			@include transition(opacity 0.5s ease);

			background-color: $color-white;
			border-top: 1px solid rgba($color-black, 0.1);
			flex-grow: 1;
			height: rem(64);
			text-align: center;

			&:hover {
				background-color: $color-gallery;
			} // &:hover

			> a {
				display: block;
				font-size: rem(12);
				height: 100%;
				line-height: 1.2;

				span {
					@include vertical-align(middle);

					display: block;
				} // span
			} // > a
		} // > li:nth-child(-n+5)
	} // .mobile-nav
} // .mobile-nav-menu

// Hide anything more than the first four items
.mobile-nav-menu-hidden {
	@include position(absolute, null 0 0 null);
	@include transition(opacity 0.5s linear);

	display: block;
	max-height: 100%;
	opacity: 0;
	overflow: scroll;
	padding: rem(84) 0;
	visibility: hidden;
	width: 50vw;
	z-index: -1;
} // .mobile-nav-menu-hidden

// Show hidden mobile nav menu
.mobile-menu-more:not(.sub-menu-more) {

	.mobile-nav-menu-hidden {
		opacity: 1;
	} // .mobile-nav-menu-hidden
} // .mobile-menu-more:not(.sub-menu-more)

// Show the remaining menu items when the ".more" class is active
.mobile-nav-menu.more {

	.mobile-nav-menu-hidden {
		visibility: visible;

		li {
			@include position(relative, null 0 0 null);

			clear: both;
			display: block;
			float: right;
			margin: 0;
			width: 100%;

			.sub-menu {
				opacity: 1;
				padding-left: 10%;
			} // .sub-menu

			.sub-menu-more & {
				display: none;
			} // .sub-menu-more &

			a {
				color: $color-white;
				padding: rem(10) rem(20);
			} // a
		} // li
	} // .mobile-nav-menu-hidden
} // .mobile-nav-menu.more

// Style the more/fly-in menu
.mobile-nav-menu .mobile-nav .mobile-nav-menu-more,
.mobile-nav-menu .mobile-nav > .sub-menu {
	@include position(absolute, 0 null null 0);

	background-color: $color-gray;
	height: 100vh;
} // .mobile-nav-menu .mobile-nav ul.mobile-nav-menu-more, .mobile-nav-menu .mobile-nav > .sub-menu

.mobile-nav-menu .mobile-nav {

	ul {
		box-shadow: none;

		.mobile-menu-more:not(.sub-menu-more) & {
			top: 0;
		} // .mobile-menu-more:not(.sub-menu-more) &
	} // ul
} // .mobile-nav-menu .mobile-nav

// Style the close button
.close-mobile-menu {
	@include position(absolute, rem(10) rem(12) null null);
	@include size(rem(32));

	background-color: transparent;
	display: none;
	z-index: 1;

	.admin-bar & {
		top: rem(56);

		@include media($wp-admin-bar) {
			top: rem(40);
		}
	} // .admin-bar &

	// Get rid of that nasty hover state
	&:hover,
	&:active,
	&:focus {
		background-color: transparent;

		svg {
			opacity: 0.6;
		} // svg
	} // &:hover, &:active, &:focus

	// Only display when more items are visible
	.more & {
		display: block;
	} // .more &

	svg {
		@include size(100%);
		@include transition(opacity 0.5s ease);

		fill: $color-white;
	} // svg
} // .close-mobile-menu

// Don't show the submenu when we hover the parent
.mobile-nav.dropdown {

	.menu-item-has-children:hover {

		.sub-menu {
			display: none;
		} // .sub-menu
	} // .menu-item-has-children:hover

	.mobile-menu-more:not(.sub-menu-more) & {

		.menu-item-has-children:hover {

			.sub-menu {
				display: block;
				left: auto;
				opacity: 1;
				right: 0;
			} // .sub-menu
		} // .menu-item-has-children:hover
	} // .mobile-menu-more:not(.sub-menu-more) &

	.visible,
	.visible:hover,
	.visible:focus,
	.visible:active {

		.sub-menu {
			@include position(fixed, auto 0 rem(84) auto);

			display: block;
			opacity: 1;
			width: 50vw;

			.sub-menu {
				bottom: 0;

				@include media($tablet-portrait) {
					bottom: auto;
				}
			} // .sub-menu
		} // .sub-menu

		.sub-menu .sub-menu {
			padding-left: rem(10);
			position: relative;
		} // .sub-menu .sub-menu
	} // .visible, .visible:hover, .visible:focus, .visible:active
} // .mobile-nav.dropdown

// Adjust link and anchor styles for submenus
.mobile-nav.dropdown {

	.sub-menu {
		left: 0;
		opacity: 0;
		width: 50vw;
		z-index: -1;

		a {
			color: $color-white;
			font-size: rem(16);
			padding: rem(10) rem(20);
			text-align: left;
		} // a

		li {
			display: block;
			float: none;
			margin: 0;
		} // li

		@include media($tablet-portrait) {
			left: auto;
			right: 0;
		}
	} // .sub-menu
} // .mobile-nav.dropdown

// Adjust submenu z-index when parent is visible
.mobile-nav.dropdown .visible {

	// Adjust z-index when visible
	.sub-menu {
		z-index: 1;
	} // .sub-menu
} // .mobile-nav.dropdown .visible

// Add styles for non-JS users
// Add a horizontal scroll and faded edges
.no-js {

	&.admin-bar {

		.mobile-nav-menu {
			padding-top: 0;
		} // .mobile-nav-menu
	} // &.admin-bar

	.mobile-nav-menu {
		@include size(100% rem(64));

		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-overflow-scrolling: touch;
		bottom: 0;
		font-size: 0;
		overflow-x: auto;
		top: auto;
		white-space: nowrap;

		> div {
			bottom: 0;
			left: 0;

			&::before,
			&::after {
				@include position(fixed, null null 0 null);
				@include size(25% 100%);

				content: "";
				pointer-events: none; // So the text is still selectable.
				z-index: 20;
			} // &::before, &::after

			&::after {
				background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
				right: 0;
			} // &::after

			&::before {
				background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
				left: 0;
			} // &::before
		} // > div
	} // .mobile-nav-menu
} // .no-js

// Adjust display of menu items
.no-js {

	.mobile-nav-menu {

		.mobile-nav {

			a {
				padding: 0 rem(10);
				text-align: center;

				span {
					@include vertical-align(middle);

					display: block;
				} // span
			} // a

			> li {

				&:nth-child(n+6) {
					display: inline-block;
				} // &:nth-child(n+6)

				&:first-of-type {
					padding-left: rem(100);
				} // &:first-of-type

				&:last-of-type {
					padding-right: rem(100);
				} // &:last-of-type
			} // > li

			li {
				@include position(relative, null null null 0);
				@include size(auto rem(64));

				background-color: $color-white;
				border-top: 1px solid rgba($color-black, .1);
				display: inline-block;
				float: none;
				font-size: rem(12);
				margin: 0;
				text-align: center;
				vertical-align: top;

				&:hover {
					background-color: $color-white;
				} // &:hover
			} // li
		} // .mobile-nav
	} // .mobile-nav-menu
} // .no-js

// Adjust display of submenus and links
.no-js {

	.mobile-nav-menu {

		.mobile-nav {

			li {

				> a {
					display: block;
					font-size: rem(12);
					height: 100%;
					line-height: 1.2;
				} // > a

				&.menu-item-has-children {

					> a {
						display: inline-block;
						vertical-align: top;
					} // > a

					&:hover {

						.sub-menu {
							display: inline-block;
							left: 0;
						} // .sub-menu
					} // &:hover
				} // &.menu-item-has-children
			} // li
		} // .mobile-nav

		.mobile-nav.dropdown {

			.sub-menu {
				@include position(relative, auto null null 0);

				display: inline-block;
				float: none;
				opacity: 1;
				width: auto;
				z-index: 1;

				a {
					color: $color-link;
				} // a

				li {
					border: none;
				} // li
			} // .sub-menu
		} // .mobile-nav.dropdown
	} // .mobile-nav-menu

	.mobile-nav-menu {

		.menu.dropdown ul a {
			width: auto;
		} // .menu.dropdown ul a
	} // .mobile-nav-menu
} // .no-js
