//--------------------------------------------------------------
// Navigation
//--------------------------------------------------------------

// Links
a {
	color: $color-link;

	&:visited {
		color: $color-link-visited;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
	} // &:hover, &:focus, &:active
} // a

// Default menu (active after a fresh WordPress install)
.menu {
	@include list-reset;

	li {
		margin: 0 rem(10) 0 0;
	} // li

	ul {
		@include list-reset;
	} // ul

	&.menu-horizontal {

		li {
			display: inline-block;
		} // li
	} // &.menu-horizontal

	&.menu-vertical {

		li {
			margin: 0;
		} // li

		a {
			border-bottom: 1px solid $color-background-hr;
			padding: rem(10);
		} // a
	} // &.menu-vertical

	&.dropdown {

		// Sub-menu
		ul {
			@include position(absolute, rem(24) null null -999em);

			box-shadow: 0 3px 3px rgba($color-black, 0.2);
			float: left;
			z-index: 99999;

			// Sub-sub menu
			ul {
				left: -999em;
				top: 0;
			} // ul

			// Sub-menu items
			li {

				&:hover > ul,
				&.focus > ul {
					left: 100%;
				} // &:hover > ul, &.focus > ul
			} // li

			// Sub-menu links
			a {
				@include size(rem(200) auto);
			} // a

			// sass-lint:disable no-qualifying-elements
			&:hover > a,
			.focus > a {
			} // &:hover > a, .focus > a

			a:hover,
			a.focus {
			} // a:hover, a.focus
			// sass-lint:enable no-qualifying-elements
		} // ul

		// Display sub-menu on hover
		li:hover > ul,
		.focus > ul {
			left: auto;
		} // li:hover > ul, .focus > ul

		// Menu items
		li {
			float: left;
			position: relative;

			&:hover > a,
			&.focus > a {
			} // &:hover > a, &.focus > a
		} // li
	} // &.dropdown

	// Menu hyperlinks
	a {
		display: block;
		text-decoration: none;
	} // a

	// Current items
	.current_page_item a,
	.current-menu-item a {
	} // .current_page_item a, .current-menu-item a
} // .menu

// Main navigation (after creating a menu in the dashboard)
.main-navigation {
	@include size(100% auto);

	clear: both;
	display: none;
	float: left;

	// Menu area
	ul {
		display: none;

		@include grid-media($phone-landscape) {
			display: block;
		}
	} // ul

	&.toggled ul {
		display: block;
	} // &.toggled ul

	@include grid-media($tablet-portrait) {
		display: block;
	}
} // .main-navigation

//-----------------------------------------
// Mobile menu defaults
//-----------------------------------------
.mobile-menu {
	@include list-reset;

	ul {
		@include list-reset;
	}

	li {
		list-style: none;
		padding: rem(12);
		position: relative;
	}

	a {
		color: $color-white;
		font-size: rem(14);
		padding: rem(5);

		&:focus {
			outline: rem(2) solid $color-white;
		} // &:focus
	}

	// Submenu dropdowns.
	.sub-menu {
		display: none;

		&.is-visible {
			display: block;
			opacity: 1;
			visibility: visible;
		}
	} // .sub-menu

	// Create a down arrow on parent items.
	.parent-indicator {
		@include position(absolute, rem(10) rem(10) null null);
		@include size(rem(35));

		background-color: transparent;
		display: inline-block;
		padding: rem(5);
		z-index: 9999;

		&:focus {
			outline: rem(2) solid $color-white;
		} // &:focus
	} // .parent-indicator

	// Parent menu items.
	.menu-item-has-children {
		max-height: rem(52);
		overflow-y: hidden;
		transition: max-height 0.5s;

		&.is-visible {
			max-height: rem(500);

			// When visible, flip the down arrow.
			.down-arrow {
				transform: rotateX(180deg);
			} // .down-arrow
		} // .is-visible
	} // .menu-item-has-children
} // .mobile-menu

// Navigation on Comment, Post and Posts
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 rem(24) 0;
		overflow: hidden;
	} // .site-main &

	.nav-previous {
		@include size(50% auto);

		float: left;
	} // &.nav-previous

	.nav-next {
		@include size(50% auto);

		float: right;
		text-align: right;
	} // &.nav-next
} // .comment-navigation, .posts-navigation, .post-navigation
