//----------------------------------------
// Template Tag Styles
// Import partials for functions in template-tags.php.
//----------------------------------------

@import "forms";
@import "modals";
@import "off-canvas";
@import "svg-sprite-wrapper";
