//--------------------------------------------------------------
// GRIDS 
//--------------------------------------------------------------

.container {
	margin: 0 auto;
	max-width: $max-width;
}

.row {
	@include grid-collapse;
	@include grid-container;
}

.col {
	width: 100%;
}

//-----------------------------------------
// Basic 12-column grid using $neat-grid()
//-----------------------------------------
@include grid-media($tablet-portrait) {

	.col {
		@include grid-classes;
	}
}
