//--------------------------------------------------------------
// GRID
//--------------------------------------------------------------

//-----------------------------------------
// Container
//
// This is the outermost element for a
// module or block.
//-----------------------------------------
.container {
	margin: 0 auto;
	max-width: $max-width;
} // .container

// If the container isn't 100% width by default, use this class in conjunction with container to make a module full width.
.full-width {
	@include full-width;
} // .full-width


//-----------------------------------------
// Row(s)
//
// This is the inner container for a module
// or block, and generally establishes the
// inner content width. Add additional
// content widths as `row-width` as needed.
//-----------------------------------------
.row {
	@include grid-collapse;
	@include grid-container;

	margin: 0 auto;
	max-width: 100%;
	width: $content-width;
} // .row


//-----------------------------------------
// Columns
//-----------------------------------------
.col {
	@include grid-classes;

	width: 100%;
} // .col


//-----------------------------------------
// Mobile column classes.
//
// These classes work up to $tablet-potrait.
//-----------------------------------------
.col-s {

	@include media(null, $tablet-portrait) {
		@include grid-classes;
	}
} // .col-s-1 through .col-s-12


//-----------------------------------------
// Tablet column classes.
//
// These classes work from $tablet-portrait
// to $tablet-landscape.
//-----------------------------------------
.col-m {

	@include media($tablet-portrait, $tablet-landscape) {
		@include grid-classes;
	}
} // .col-m-1 through .col-m-12


//-----------------------------------------
// Tablet Landscape column classes.
//
// These classes work from $tablet-landscape
// and beyond. 👩‍🚀
//-----------------------------------------
.col-l {

	@include grid-media($tablet-landscape) {
		@include grid-classes;
	}
} // .col-l-1 through .col-l-12
