//--------------------------------------------------------------
// Base Layout
//--------------------------------------------------------------

.site-content {
	margin: rem(20) auto;

	@include grid-media($desktop) {
		margin: rem(40) auto rem(60);
	}
} // .site-content

// Keep the page content aligned with the header & footer content by default.
.has-sidebar {

	.primary {
		margin-left: 0;
	} // .primary

	.secondary {
		float: right;
		margin-left: 0;
		margin-right: 0;
		margin-top: $gutter * 5;

		@include grid-media($tablet-landscape) {
			margin-top: 0;
		}
	} // .secondary
} // .has-sidebar
