//--------------------------------------------------------------
// Accordion Block
//--------------------------------------------------------------
// sass-lint:disable no-transition-all

.accordion-block {
	position: relative;

	.accordion {

		.accordion-item {

			.item-toggle {
				@include size(rem(24) rem(24));
			} // .item-toggle
		} // .accordion-item
	} // .accordion
} // .accordion-block

//-----------------------------------------
// Accordion Items
//-----------------------------------------
.accordion {

	.accordion-item {

		&-header {
			cursor: pointer;
			position: relative;
		} // &-header

		&-title {
			margin: 0;
			padding-right: rem(30); // Space for toggle.
		} // &-title

		&-content {
			max-height: 0;
			opacity: 0;
			transition: $trasition-accordion;
			transition-delay: 0.4s, 0s, 0.2s;
			visibility: hidden;

			p:last-of-type {
				margin-bottom: 0;
			} // p:last-of-type
		} // &-content

		&.open,
		.no-js & {

			.accordion-item-content {
				max-height: rem(10000);
				opacity: 1;
				visibility: visible;
			} // .accordion-item-content
		} // &.open

		&-toggle {
			align-items: center;
			background-color: transparent;
			border: none;
			color: inherit;
			display: flex;
			justify-content: center;
			min-width: unset;
			padding: unset;


			&-icon {
				@include position(absolute, 0 0 null null);
				@include size(rem(24));

				background-color: $color-button-background;
				border-radius: 100%;
				color: $color-white;
				transition: $transition-transform;

				.no-js & {
					display: none;
				} // .no-js &
			} // &-icon
		} // &-toggle

		&.open {

			.accordion-item-toggle {

				span {
					transform: rotate(45deg);
				} // span
			} // .item-toggle
		} // &.open
	} // .accordion-item
} // .accordion
