//--------------------------------------------------------------
// Accordion Block
//--------------------------------------------------------------
// sass-lint:disable no-transition-all

.accordion-block {
	position: relative;

	.accordion {

		.accordion-item {

			.item-toggle {
				@include size(rem(24) rem(24));
			} // .item-toggle
		} // .accordion-item
	} // .accordion
} // .accordion-block

//-----------------------------------------
// Accordion Items
//-----------------------------------------
.accordion {

	.accordion-item {

		&-header {
			cursor: pointer;
			position: relative;
		} // &-header

		&-title {
			margin: 0;
			padding-right: rem(30); // Space for toggle.
		} // &-title

		&-content {
			display: none;

			p:last-of-type {
				margin-bottom: 0;
			} // p:last-of-type
		} // &-content

		&-toggle {
			@include position(absolute, 0 0 null null);
			@include size(rem(24));

			align-items: center;
			background-color: $color-button-background;
			border: none;
			border-radius: 100%;
			color: $color-white;
			display: flex;
			justify-content: center;
			min-width: unset;
			padding: unset;

			&-icon {
				transition: all 0.2s ease-in-out;
			} // &-icon
		} // &-toggle

		&.open {

			.accordion-item-toggle {

				span {
					transform: rotate(45deg);
				} // span
			} // .item-toggle
		} // &.open
	} // .accordion-item
} // .accordion
