//--------------------------------------------------------------
// Call To Action Block
//--------------------------------------------------------------
.call-to-action {

	// Set up structure.
	.grid-x {
		padding: $gutter;
		text-align: center;

		@include media($tablet-portrait) {
			align-items: center;
			display: flex;
			justify-content: center;
			text-align: left;
		}
	} // .grid-x
} // .call-to-action
