//--------------------------------------------------------------
// Call To Action Block
//--------------------------------------------------------------
.cta-block {
	text-align: center;

	@include media($tablet-portrait) {
		text-align: left;
	}

	.cta-title {
		width: 100%;
	} // .cta-title

	.cta-text {
		font-weight: 400;
	} // .cta-text

	.cta-button {
		@include margin(0 auto);

		@include media($tablet-portrait) {
			@include margin(0);
		}
	} // .cta-button
} // .cta-block
