//--------------------------------------------------------------
// Call To Action Block
//--------------------------------------------------------------
.call-to-action {

	// Set up structure.
	.row {
		align-items: center;
		display: flex;
		justify-content: center;
	} // .row
} // .call-to-action
