//--------------------------------------------------------------
// Carousel Block
//--------------------------------------------------------------
$slide-height: rem(500);

.carousel-block {

	// Removes padding.
	&.content-block {
		@include padding(0 null);
	} // &.content-block
} // .carousel-block

.tns-outer {
	position: relative;

	button {

		&[data-action='stop'],
		&[data-action='start'] {
			@include position(absolute, null 0 $gutter * 2 0);

			margin-left: auto;
			margin-right: auto;
			width: rem(120);
			z-index: 20;
		}
	}
}

.tns-controls {
	@include position(absolute, 45% null null null);
	@include size(100%, auto);

	z-index: 10;

	button {
		position: absolute;

		&[data-controls='prev'] {
			left: $gutter;

			@include media($desktop) {
				left: 0;
			}
		}

		&[data-controls='next'] {
			right: $gutter;

			@include media($desktop) {
				right: 0;
			}
		}
	}
}

.tns-nav {
	@include position(absolute, null null $gutter 0);
	@include size(100%, auto);

	text-align: center;
	z-index: 20;

	button {

		&:hover,
		&:active,
		&:focus,
		&.tns-nav-active {
			background-color: $color-white;
		}
	}
}

.slide {
	margin-bottom: 0;
	overflow-y: hidden;
	position: relative;
	z-index: 1;

	// Content container.
	&-content {
		@include margin(0 auto);

		align-items: center;
		display: flex;
		flex-direction: column;
		height: $slide-height;
		justify-content: center;
		position: relative;
		text-align: center;
		z-index: 3;

		&[data-animation~='animated'] {
			opacity: 0;
			transition: $transition-opacity;

			&.animated {
				opacity: 1;
			}
		}
	} // .slide-content

	// Add padding to description.
	&-description {
		padding-bottom: $gutter * 2;
	} // .slide-description

	// Remove any text decoration.
	.button-slide {
		text-decoration: none;
	} // a.button-slide
} // .slide

//-----------------------------------------
// IE Fixes
//-----------------------------------------
.ie .slide {

	// IE seems to have some width issues with flexbox,
	// the text is rendered wider than its container
	// and doesn't wrap. This fixes that.
	.slide-title,
	.slide-description {
		width: 100%;
	} // .slide-title, .slide-description
} // .ie .slide
