//--------------------------------------------------------------
// CTA Block
//--------------------------------------------------------------

// CTA Section
.cta-block {

	.row {
		align-items: center;
		display: flex;
		justify-content: center;
	} // .button-wrap

} // .cta-block