//--------------------------------------------------------------
// Global Content Block Styles
//--------------------------------------------------------------
.content-block {
	@include padding($gutter * 2 null);

	// Content Block titles.
	&-title {
		text-align: center;

		@include media($tablet-portrait) {
			text-align: left;
		}
	} // .content-block-title

	&.has-background {
		@include margin(0 auto);

		&.container-width {
			@include padding($gutter * 2 0);

			@include media($container-offset) {
				@include padding($gutter * 2 $gutter);
			}
		} // &.container-width.
	} // &.has-background

	&.container-width {
		@include margin(0 auto);
	}

	// Make sure videos stay in their containers.
	&.video-as-background {
		overflow: hidden;
		position: relative;
	} // &.video-as-background
} // .content-block


//-----------------------------------------
// Video Controls
//-----------------------------------------
.video-toggle {
	@include position(absolute, null 1% 2% null);
	@include size(rem(22));

	background: url('assets/images/svg-icons/pause.svg') center center no-repeat transparent;
	background-size: rem(16);
	opacity: 0.2;
	padding: 0;
	transition: $transition-opacity;

	&:active,
	&:focus,
	&:hover {
		opacity: 1;
	}

	.video-toggled & {
		background-image: url('assets/images/svg-icons/play.svg');
	}
} // .video-toggle
