//--------------------------------------------------------------
// Related Posts
//--------------------------------------------------------------

//-----------------------------------------
// Single related post layout
//-----------------------------------------
.related-posts {
	background-color: $color-white;
	padding: rem(90) 0 rem(74);

	.post:not(.slick-slide)  {
		max-width: rem(930);
	} // .post:not(.slick-slide)

} // .related-posts


//-----------------------------------------
// Related post typography
//-----------------------------------------
.related-posts {

	// Section title
	.related-posts-title {
		font-size: rem(24);
		margin-bottom: rem(70);
		margin-top: 0;
		text-align: center;
	} // .related-posts-title

	// Post title
	.post-title {
		font-size: rem(34);
		line-height: 1.352;
		margin-bottom: rem(3);
		margin-top: rem(18);
	} // .post-title

	.post-excerpt {
		font-size: rem(16);
	} // .post-excerpt

} // .related-posts


//-----------------------------------------
// Single post in related posts list
//-----------------------------------------
.related-posts {

	.post {
		align-items: flex-start;
		border: rem(1) solid $color-gray;
		display: flex;
		flex-direction: column-reverse;
		margin: 0 auto rem(60);

		@include grid-media($tablet-portrait) {
			flex-direction: row;
		}
	} // .post

	.related-post-image {
		display: block;
		margin: 0 auto;
	} // .related-post-image

	.post-content-wrap {
		padding: rem(24);

		@include grid-media($phone-landscape) {
			padding: rem(24) rem(44);
		}
	} // .post-content-wrap

	.read-more {
		border-radius: rem(4);
		display: inline-block;
		font-size: rem(20);
		margin-top: rem(34);
		padding: rem(19) rem(44) rem(18);
		text-decoration: none;

		@include grid-media($tablet-portrait) {
			margin-top: rem(94);
		}
	} // .read-more

} // .related-posts


//-----------------------------------------
// Category badge
//-----------------------------------------
.related-posts {

	.category-badge {
		background: $color-blue;
		border-radius: rem(100);
		color: $color-white;
		font-weight: 600;
		letter-spacing: rem(1);
		padding: rem(3) rem(19);
	} // .category-badge

} // .related-posts


//-----------------------------------------
// IE fixes
//-----------------------------------------
.ie .related-posts {

	// Fixes featured image from getting squished.
	.post-content-wrap {
		max-width: rem(658);
	} // .post-content-wrap

	// Override the IE-specific height set by buttons partial.
	.read-more {
		height: rem(66);
	} // .read-more

} // .ie .related-posts
