//--------------------------------------------------------------
// Alignments
//--------------------------------------------------------------

// Left Align
.alignleft {
	@include margin(0 $space 0 0);

	display: block;
	float: left;
} // .alignleft

// Right Align
.alignright {
	@include margin(0 0 0 $space);

	display: block;
	float: right;
} // .alignright

// Center Align
.aligncenter {
	@include margin(null auto);

	display: block;
} // .aligncenter

// Full-width Gutenberg alignment.
.alignfull {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}