//--------------------------------------------------------------
// Preflight Overrides
//-------------------------------------------------------------

@layer base {
	*,
	::after,
	::before {
		box-sizing: border-box;
		word-break: unset;
		word-wrap: unset;
	}
}
