//--------------------------------------------------------------
// Window Ready
//--------------------------------------------------------------

// I will cause FOUT, hide me by default!
.not-ready {
	opacity: 0;
	transition: $transition-opacity;
	visibility: hidden;

	// When everything has loaded, fade me in using window-ready.js.
	.ready & {
		opacity: 1;
		visibility: visible;
	} // .ready &
} // .not-ready
