//--------------------------------------------------------------
// Hero
//--------------------------------------------------------------
.hero {
	overflow-y: hidden;
	position: relative;
	z-index: 1;

	// Optional transparent overlay.
	&::after {
		background-color: rgba($black, 0.7);
		content: "";
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	&-content {
		padding: $global-padding * 4 0;
		position: relative;
		text-align: center;
		z-index: 3;

		@include breakpoint(admin-bar) {
			padding: $global-padding * 8 0;
		}
	}

	&-headline,
	&-text {
		color: $white;
		font-weight: 200;
	}

	&-headline {
		font-size: rem-calc(48);
		line-height: 1.1;
		margin-bottom: $global-padding * 2;

		@include breakpoint(medium) {
			font-size: rem-calc(64);
			line-height: 1.2;
			margin-bottom: $global-padding;
		}
	}

	&-text {
		font-size: rem-calc(24);

		@include breakpoint(medium) {
			font-size: rem-calc(32);
		}
	}

	&-button {
		margin-top: rem-calc(10);
	}
} // .hero
