//--------------------------------------------------------------
// Alignments
//--------------------------------------------------------------

// Left Align
.alignleft {
	@include margin(0 rem(24) 0 0);

	display: inline;
	float: left;
} // .alignleft

// Right Align
.alignright {
	@include margin(0 0 0 rem(24));

	display: inline;
	float: right;
} // .alignright

// Center Align
.aligncenter {
	@include margin-auto;
} // .aligncenter
