//--------------------------------------------------------------
// Alignments
//--------------------------------------------------------------

// Left Align
.alignleft {
	@include margin(0 $space 0 0);

	display: block;
	float: left;
} // .alignleft

// Right Align
.alignright {
	@include margin(0 0 0 $space);

	display: block;
	float: right;
} // .alignright

// Center Align
.aligncenter {
	@include margin-auto;
} // .aligncenter
