//--------------------------------------------------------------
// Helpers
//--------------------------------------------------------------

//-----------------------------------------
// Full Width
//-----------------------------------------
.full-width {
	margin-left: rem-calc(-35);
	max-width: calc(100% + 70px);
	width: calc(100% + 70px);

	@include breakpoint(tablet-landscape) {
		margin-left: rem-calc(-115);
		max-width: calc(100% + 230px);
		width: calc(100% + 230px);
	}
} // .full-width

//-----------------------------------------
// Image As Background
//-----------------------------------------
.image-as-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
} // .image-as-background

//-----------------------------------------
// Video As Background
//-----------------------------------------
.video-as-background {
	@include size(100%);

	display: block;
	object-fit: cover;
	object-position: center top;
	position: absolute;
	z-index: 1;
} // .video-as-background

//-----------------------------------------
// SVG Definitions
//-----------------------------------------
.svg-defs {
	display: none;
} // .svg-defs
