//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------

a {
	color: $color-link;
	transition: $transition-opacity;

	&:visited {
		color: $color-link-visited;
	} // &:visited

	&:hover,
	&:active {
		color: $color-link-hover;
	} // &:hover, &:active

	&:focus {
		color: $color-link-focus;
	} //  &:focus
} // a