//--------------------------------------------------------------
// Site Footer
//--------------------------------------------------------------
.site-footer {
	margin: $global-margin * 2 auto;

	// Footer Menus.
	.menu>li {
		display: inline;
	} // .menu>li 
} // .site-footer
