//--------------------------------------------------------------
// Global Resets/Overrides
//--------------------------------------------------------------
*,
::after,
::before {
	@apply box-border break-words;

	word-wrap: break-word;
}

html {
	scroll-behavior: smooth;
}

pre {
	@apply overflow-auto;
}
