//--------------------------------------------------------------
// Global Site Header
//--------------------------------------------------------------
.site-header {
	@apply bg-black px-16 py-12 flex relative;

	@screen tablet-landscape {
		padding-left: calc( ( 100% - theme( 'screens.desktop' ) ) / 2 + 16px );
		padding-right: calc( ( 100% - theme( 'screens.desktop' ) ) / 2 + 16px );
	}
	.site-description {
		@apply no-underline;
	}

	.site-branding {
		@screen tablet-landscape {
			@apply pl-16;
		}

		a {
			@apply no-underline;

			.custom-logo {
				@apply max-h-50 w-auto;
			}
		}
	}

	.main-navigation {
		@screen tablet-landscape {
			@apply pr-16;
		}
	}
}
