//--------------------------------------------------------------
// Menus and Sub-Menus
// Cool.
//--------------------------------------------------------------
.navigation-menu {
	@apply hidden;

	@screen tablet-landscape {
		@apply block;
	}

	.menu {
		@apply flex;

		> li {
			&:not( :last-child ) {
				@apply mr-16;
			}
		}
	}

	.sub-menu {
		@apply bg-white py-8 absolute shadow-md;

		left: -999em;
		top: theme( 'spacing.24' );
		z-index: 99999;

		li {
			@apply px-24 py-8;
		}

		.menu-item-has-children {
			&:hover,
			&.focus {
				> .sub-menu {
					left: 100%;
				}
			}
		}
	}
}

//-----------------------------------------
// Menu Items With Children
//-----------------------------------------
.menu-item-has-children {
	@apply relative;

	&:hover,
	&.focus {
		> .sub-menu {
			@apply left-0;
		}
	}
}

//-----------------------------------------
// Dropdown Styles
//-----------------------------------------
.dropdown {
	ul {
		li {
			@apply w-full;
		}

		a {
			@apply block w-full;

			min-width: theme( 'width.192' );
		}
	}
}

//-----------------------------------------
// The Down Caret
//-----------------------------------------
.caret-down {
	@apply block float-right h-full ml-8;

	background: url( ../images/icons/caret-down.svg ) 50% 50% no-repeat;
	background-size: 100%;
	width: theme( 'spacing.8' );
}

//-----------------------------------------
// Footer
//-----------------------------------------
.footer-navigation {
	.menu {
		@apply container block;

		@screen tablet-landscape {
			@apply flex;
		}
	}
}
