//--------------------------------------------------------------
// Media Query Breakpoints
//--------------------------------------------------------------

/// Standard Media Query Breakpoints
/// @group wds

$large-desktop: em(1680);
$desktop: em(1366);
$tablet-landscape: em(1024);
$wp-admin-bar: em(783);
$tablet-portrait: em(768);
$phone-landscape: em(640);
$phone-portrait: em(360);
