//--------------------------------------------------------------
// Media Query Breakpoints
//--------------------------------------------------------------

/// Standard Media Query Breakpoints
/// @group wds

$large-desktop: (
	media: em(1680)
);
$desktop: (
	media: em(1366)
);
$tablet-landscape: (
	media: em(1024)
);
$wp-admin-bar: (
	media: em(783)
);
$tablet-portrait: (
	media: em(768)
);
$phone-landscape: (
	media: em(640)
);
$phone-portrait: (
	media: em(360)
);
