//--------------------------------------------------------------
// Media Query Breakpoints
//--------------------------------------------------------------

/// Custom Media Query Breakpoints
///
/// Since each version of Foundation may
/// require us to update _settings.scss,
/// create a custom list of breakpoints
/// and merge the two together.
///
/// @group wds

$custom-breakpoints: (
	phone-portrait: 360px,
	phone-landscape: 640px,
	tablet-portrait: 768px,
	wp-admin-bar: 783px,
	tablet-landscape: 1024px,
	desktop: 1366px,
	large-desktop: 1680px
);

/// Merge custom breakpoints with Foundation.
///
/// @example scss - Basic Usage Sass
///    .foo {
///			@include breakpoint(tablet-portrait) {
///			   width: rem-calc(240);
///			}
///    }
///
/// @example scss - Basic Usage CSS Output
///    .foo {
///         @media (min-width: 48em) {
///         	width: 15rem;
///         }
///    }

$breakpoints: map-merge($breakpoints, $custom-breakpoints);

/// Merge custom breakpoint classes with Foundation.
///
/// @example html - Basic Usage CSS Class
///    <div class="column tablet-portrait">
///       <p>Foo text</p>
///    </div>

$custom-breakpoint-keys: map-keys($custom-breakpoints); // Create a list of custom breakpoint names.
$breakpoint-classes: join($breakpoint-classes, $custom-breakpoint-keys); // Merge the custom breakpoint names (keys) with Foundation.
