// --------------------------------------------------------------
// Grid Settings - overrides default Bourbon Neat
// http://neat.bourbon.io/examples/
// --------------------------------------------------------------

$neat-grid: (
	columns: 12,
	gutter: 12px,
);

// Gutter is no longer required for Neat, but is used throughout the theme.
$gutter: gutter($neat-grid);
$max-width: 100%;
$content-width: 960px;


//-----------------------------------------
// Box Sizing
//
// Make sure all elements use box-sizing:
// border-box by default.
//-----------------------------------------
* {
	box-sizing: border-box;
}
