//--------------------------------------------------------------
// Box Model
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

// Make sure all elements use `box-sizing: border-box;` by default.
* {
	box-sizing: border-box;
}

/// Define thin border radius.
$border-radius-thin: rem(1);

/// Define medium border radius.
$border-radius-medium: rem(3);
