//--------------------------------------------------------------
// TRANSITIONS
//--------------------------------------------------------------

$transition-opacity: opacity 0.5s ease;
$transition-border: border 0.2s ease-in-out;
$transition-all: all 0.5s ease-in-out; // use only in emergencies!
$transition-transform: transform 0.8s ease-in-out;
