//--------------------------------------------------------------
// TRANSITIONS
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

/// Speed.
$speed: 0.3s;
$ease: ease-in-out;

/// Transition types.
$bg-color: background-color;
$border: border;
$color: color;
$height: height $speed $ease;
$max-height: max-height $speed $ease;
$opacity: opacity;
$transform: transform;

/// Color transition
$transition-color: $color $speed $ease;

/// Opacity transition.
$transition-opacity: $opacity $speed $ease;

/// Border transition
$transition-border: $border  $speed $ease;

/// All transitions. Use only in emergencies!
$transition-all: all  $speed $ease;

/// Transform height.
$transition-all: $height, $max-height;

/// Transform transitions.
$transition-transform: $transform  $speed $ease;

/// Transform Hamburger
$transition-hamburger: $transform $speed, $bg-color $speed $ease;

/// Transform Background Color
$transition-bg-color: $bg-color $speed $ease;
