//--------------------------------------------------------------
// TRANSITIONS
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

/// Speed.
$speed: 0.3s;
$ease: ease-in-out;

/// Opacity transition.
$transition-opacity: opacity $speed $ease;

/// Border transition
$transition-border: border  $speed $ease;

/// All transitions. Use only in emergencies!
$transition-all: all  $speed $ease;

/// Transform transitions.
$transition-transform: transform  $speed $ease;

/// Transform Hamburger
$transition-hamburger: transform $speed, background-color $speed $ease;

/// Transform Background Color
$transition-bg-color: background-color $speed $ease;
