//--------------------------------------------------------------
// Global Variables
//--------------------------------------------------------------

@import 'breakpoint-var';
@import 'color-var';
@import 'grid-var';
@import 'modal-var';
@import 'transition-var';
@import 'type-var';

// Globally assigned variables.
@import 'color-assigments';