//--------------------------------------------------------------
// Global Resets/Overrides
//--------------------------------------------------------------
*,
::after,
::before {
	@apply box-border break-words;

	word-wrap: break-word;
}

html {
	scroll-behavior: smooth;
}

pre {
	@apply overflow-auto;
}

//-----------------------------------------
// Admin Overrides
//-----------------------------------------
.block-editor-writing-flow {
	@apply text-base leading-normal;
}

//-----------------------------------------
// Page Template Containers
//-----------------------------------------
.site-main {
	@apply py-32;

	.entry-header,
	.entry-footer {
		@apply container;
	}
}

.page-header {
	@apply container;
}

.more-link {
	@apply container block;
}
