.media-cover {
	// This is a regular image with the class applied to the <img> element.
	&:not( .wp-block-image ) {
		@apply h-full object-cover;
	}

	// This is a Gutenberg image block, so the class is applied to a <figure> wrapper element.
	&.wp-block-image {
		img {
			@apply h-full object-cover;
		}
	}
}

.aspectratio {
	&-1-1 {
		@apply media-cover;
		aspect-ratio: 1 / 1;
	}

	&-3-4 {
		@apply media-cover;
		aspect-ratio: 3 / 4;
	}

	&-4-3 {
		@apply media-cover;
		aspect-ratio: 4 / 3;
	}

	&-16-9 {
		@apply media-cover;
		aspect-ratio: 16 / 9;
	}
}
