//----------------------------------------
// Gallery - Core Gutenberg Block
//----------------------------------------

.wp-block-gallery {
	@apply block container mb-80;

	.blocks-gallery-item {
		img,
		figcaption {
			@apply rounded;
		}
	}

	&.columns-1,
	&.columns-2 {
		.blocks-gallery-item {
			// .blocks-gallery-item__caption {}
		}
	}

	&.columns-5,
	&.columns-6 {
		.blocks-gallery-item {
			// .blocks-gallery-item__caption {}
		}
	}
}
