//----------------------------------------
// Heading - Core Gutenberg Block
//----------------------------------------

.wp-block-heading {
	@apply block container;

	h1 {
		@apply mb-32;
	}

	h2 {
		@apply mb-24;
	}

	h3 {
		@apply mb-20;
	}

	h4 {
		@apply mb-16;
	}

	h5 {
		@apply mb-12;
	}

	h6 {
		@apply mb-8;
	}
}
