//----------------------------------------
// Image - Core Gutenberg Block
//----------------------------------------

.wp-block-image {
	@apply container relative;

	&.alignfull,
	.is-resized,
	.aligncenter,
	.alignleft,
	.alignright {
		@apply relative;
	}

	&.alignfull {
		figcaption {
			max-width: 100vw;
		}
	}
}
