//----------------------------------------
// List - Core Gutenberg Block
//----------------------------------------

.wp-block-list {
	@apply block container;

	ul {
		&:not( .menu, .sub-menu ) {
			@apply mb-16 list-disc list-inside;
		}
	}

	ol {
		@apply mb-16 list-decimal list-inside;
	}

	li li,
	li li li,
	li li li li,
	li li li li li,
	li li li li li li {
		@apply ml-16;
	}
}
