//----------------------------------------
// Core Gutenberg Block Styles
//
// Import supported Core Gutenberg block partials.
//----------------------------------------
@import 'code';
@import 'heading';
@import 'image';
@import 'list';
@import 'pullquote';
@import 'quote';
@import 'spacer';
@import 'table';
@import 'gallery';
@import 'captions';
