//-----------------------------------------
// Tailwind Files
//-----------------------------------------
@tailwind base;
@tailwind components;
@tailwind utilities;

//-----------------------------------------
// Theme Files
//-----------------------------------------
@import "base/index.scss";
@import "modules/index.scss";
