// @layer base {
// // Custom base styles if necessary.
// // See https://tailwindcss.com/docs/adding-base-styles.
// }

//----------------------------------------
// Theme Styles.
//----------------------------------------
@import 'core-blocks/index';
@import 'blocks/index';
@import 'global/index';
@import 'template-tags/index';
@import 'templates/index';
@import 'wordpress-global/index';
@import 'elements/index';
@import 'modules/index';
